#!/bin/bash

{%- from 'hadoop/settings.sls' import hadoop with context %}
{%- from 'hadoop/hdfs/settings.sls' import hdfs with context %}

mkdir -p /data

c=1
{%- if hdfs.is_namenode%}
for l in {b..c} ; do
{%- else %}
for l in {b..e} ; do
{%- endif %}
  # format drive
  sudo mkfs -t ext4 /dev/xvd$l
  # create mount point
  sudo mkdir /data/data$c
  # update fstab with persistant mount options
  sudo sh -c 'echo "\n/dev/xvd$l /data/data$c ext4 defaults,nofail,nobootwait,noatime,nodiratime 0 2" >> /etc/fstab'
  # mount drive
  sudo mount /dev/xvd$l /data/data$c
  # update permissions
  sudo chmod -R 777 /data/data$c
  (( c++ ))
done

echo  # an empty line here so the next line will be the last.
echo "changed=yes comment='Drives mounted'"